form {
    position: relative;
    left: 25%;
    top: 15vw;

}

table {
    width: 90%;
    height: 90%;
    border: 1vw solid black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: skyblue;
     opacity: 0.4;
}